{% extends 'base.html' %}
{% block title %}Other's Notes{% endblock %}
{% block content %}

{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<title>Notes List</title>
</head>
<body>
	<div class="container mt-8"><br>
		<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-lg-5">
				<div class="jumbotron shadow-lg">
					<div class="text-center">
						<img src="{% static 'images/othernotes.jpg' %}" alt="Your Image" class="img-fluid img-thumbnail mt-1">
					</div>
				</div>
			</div>
			<div class="col-sm-0.5">
			</div>
			<div class="col-lg-6">
				<br><br><br><br>
				<div class="jumbotron shadow-lg">
					<div class="text-center">
						<h1 class="display-9">Accessing other's notes</h1>
					</div>
					<br>
					<div class="text-center">
						<p class="lead">You can access others notes by ..</p>
					</div>
					<hr class="my-4">
					<div class="text-center">
						<p>Taking their respective permission here.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br><br>
	<div class="container-fluid mt-4">
		<div class="row">
			<div class="col">
				<div class="card shadow-lg">
					<div class="card-body">
						<h4>Notes Details</h4>
						<table class="table">
							<tr>
								<th>Subject Name</th>
								<th>Notes</th>
							</tr>
							
							{% for i in notes %}
							{% if i.sid != ID and i.id not in req and i.id not in req1 %}
							<tr>
								<td>{{i.sub}}</td>
                                <td>{{ i.note|slice:":50" }}{% if i.note|length > 50 %}...{% endif %}</td>
								<td>
                                    {% csrf_token %}
									<div class="row">
                                        <div class="col">
											<a href="{% url 'req' ID i.sid i.id i.sub i.note %}" class="btn btn-outline-primary form-control">Request</a>
										</div>
									</div>
								</td>
							</tr>
							<script>
								let c=1;
								c+=1
								document.getElementById("count").innerHTML=c;
							</script>
                            {% endif %}
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<body>
    <br>
    <footer class="bg-dark text-white text-center py-3">
        &copy; 2023 Your Notes App. All rights reserved.
    </footer>
</body>
</html>

{% endblock %}