{% extends 'base.html' %}
{% block title %}Requested Notes{% endblock %}
{% block content %}

{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<title>Notes List</title>
</head>
<body>
	<div class="container mt-7">
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8 center-container"> <!-- Add the center-container class -->
				<div class="jumbotron shadow-lg">
					<div class="text-center">
						<img src="{% static 'images/req.jpg' %}" alt="Your Image" class="img-fluid img-thumbnail mt-1">
					</div>
					<br>
					<div class="text-center">
						<h1 class="display-9">Notes which are requested by you</h1>
					</div>
					<br>
					<div class="text-center">
						<p class="lead">You seeking permission for accessing other's notes..</p>
					</div>
					<hr class="my-4">
					<div class="text-center">
						<p>Are shown here.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid mt-4">
		<div class="row">
			<div class="col">
				<div class="card shadow-lg">
					<div class="card-body">
						<h4>Notes Details</h4>
						<table class="table">
							<tr>
								<th>S.No</th>
								<th>Subject Name</th>
								<th>Requested Notes from</th>
                                <th></th>
							</tr>
							{% for i in requests %}
							<tr>
								<td>{{forloop.counter}}</td>
								<td>{{i.sub}}</td>
                                {% for j in all %}
                                    {% if i.atid == j.id %}
								        <td>{{j.name}}</td>  
                                    {% endif %}
                                {% endfor %}
                                <td> Request in Progress...</td>
							</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<body>
    <br>
    <footer class="bg-dark text-white text-center py-3">
        &copy; 2023 Your Notes App. All rights reserved.
    </footer>
</body>
</html>

{% endblock %}